<header>
  <p-toolbar styleClass="bg-primary header border-none border-noround">
    <div class="p-toolbar-group-left">
      <p-button icon="pi pi-bars" styleClass="mr-4"></p-button>
      <p-button
        label="Home"
        icon="pi pi-home"
        styleClass="p-button-success mr-4"
        (onClick)="goToHomePage()"
      ></p-button>
      <p-button icon="pi pi-search" styleClass="p-button-warning"></p-button>
    </div>

    <div class="p-toolbar-group-right">
      <p-button icon="pi pi-envelope" styleClass="mr-4"></p-button>
      <p-button icon="pi pi-bell" styleClass="mr-4"></p-button>
      <p-button icon="pi pi-user" styleClass=""></p-button>
    </div>
  </p-toolbar>
</header>
