<ul class="flex flex-column list-none">
  <li class="p-2">
    <p-button styleClass="p-button-danger" (click)="onTestError()"
      >error notification test
    </p-button>
  </li>

  <li class="p-2">
    <p-button styleClass="p-button-warning" (click)="onTestWarn()"
      >error notification test
    </p-button>
  </li>

  <li class="p-2">
    <p-button styleClass="p-button-info" (click)="onTestInfo()"
      >error notification test
    </p-button>
  </li>

  <li class="p-2">
    <p-button class="p-button-success" (click)="onTestSuccess()"
      >error notification test
    </p-button>
  </li>
</ul>

<p>{{ 'test.testText' | translate }}</p>

<ul>
  <li><a [routerLink]="'/login'">login</a></li>
  <li><a [routerLink]="'/register'">register</a></li>
  <li><a [routerLink]="'/dashboard'">dashboard</a></li>
</ul>
