<ul class="flex flex-column list-none">
  <li class="p-2">
    <p-button styleClass="p-button-danger" (click)="onTestError()"
      >error notification test
    </p-button>
  </li>

  <li class="p-2">
    <p-button styleClass="p-button-warning" (click)="onTestWarn()"
      >error notification test
    </p-button>
  </li>

  <li class="p-2">
    <p-button styleClass="p-button-info" (click)="onTestInfo()"
      >error notification test
    </p-button>
  </li>

  <li class="p-2">
    <p-button class="p-button-success" (click)="onTestSuccess()"
      >error notification test
    </p-button>
  </li>
</ul>

<ul
  class="flex flex-column list-none p-0 align-items-center justify-content-center"
>
  <li>
    <a
      pButton
      class="block p-button-link p-0 mb-2"
      [routerLink]="'/login'"
      [label]="'test.links.login' | translate"
    ></a>
  </li>
  <li>
    <a
      pButton
      class="block p-button-link p-0 mb-2"
      [routerLink]="'/register'"
      [label]="'test.links.register' | translate"
    ></a>
  </li>
  <li>
    <a
      pButton
      class="block p-button-link p-0 mb-2"
      [routerLink]="'/dashboard'"
      [label]="'test.links.dashboard' | translate"
    ></a>
  </li>
</ul>
