<div class="w-screen h-screen">
  <div class="w-full h-full flex justify-content-center align-items-center">
    <div class="card fluid grid border-primary border-1 p-3 border-round-sm">
      <form
        class="flex-column lg:flex-row"
        (ngSubmit)="onSubmit()"
        [formGroup]="form"
      >
        <div
          class="col-12 flex justify-content-between flex-column sm:flex-row p-0 mt-3"
        >
          <label for="firstName" class="col-12 sm:col-3" translate>
            test.registerPage.firstName
          </label>
          <input
            class="col-12 sm:col-9"
            pInputText
            type="text"
            id="firstName"
            formControlName="firstName"
            [placeholder]="'test.registerPage.firstName' | translate"
          />
        </div>

        <div
          class="col-12 flex justify-content-between flex-column sm:flex-row p-0 mt-3"
        >
          <label for="lastName" class="col-12 sm:col-3" translate>
            test.registerPage.lastName
          </label>
          <input
            class="col-12 sm:col-9"
            pInputText
            type="text"
            id="lastName"
            formControlName="lastName"
            [placeholder]="'test.registerPage.lastName' | translate"
          />
        </div>

        <div
          class="col-12 flex justify-content-between flex-column sm:flex-row p-0 mt-3"
        >
          <label for="login" class="col-12 sm:col-3" translate>
            test.registerPage.email
          </label>
          <input
            class="col-12 sm:col-9"
            pInputText
            type="text"
            id="login"
            formControlName="login"
            [placeholder]="'test.registerPage.email' | translate"
          />
        </div>

        <div
          class="col-12 flex justify-content-between flex-column sm:flex-row p-0 mt-3"
        >
          <label for="password" class="col-12 sm:col-3" translate>
            test.registerPage.password
          </label>
          <p-password
            class="col-12 sm:col-9 p-0"
            inputStyleClass="pr-6"
            inputId="password"
            formControlName="password"
            [placeholder]="'test.registerPage.password' | translate"
            [feedback]="true"
            [showClear]="true"
            [toggleMask]="true"
          ></p-password>
        </div>

        <div
          class="col-12 flex justify-content-between flex-column sm:flex-row p-0 mt-3"
        >
          <label
            for="isTermsAndCondition"
            class="col-12 sm:col-10 p-0 flex align-items-center"
          >
            <span translate> test.registerPage.termsAndConditions </span>
          </label>

          <div class="col-12 sm:col-2 p-0">
            <p-inputSwitch
              formControlName="isTermsAndCondition"
              inputId="isTermsAndCondition"
            ></p-inputSwitch>
          </div>
        </div>

        <div
          class="col-12 flex justify-content-end flex-column sm:flex-row p-0 mt-3"
        >
          <button
            type="submit"
            pButton
            pRipple
            class="w-auto mt-2 md:mt-0"
            [label]="'test.registerPage.submit' | translate"
            [icon]="isSaving ? 'pi pi-spinner pi-spin' : 'pi pi-save'"
            [disabled]="form.invalid || isSaving"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
